<div class="container">
                <div class="row">
                    <div class="col-md-8 text-center" id="top-bar">
                        <img class="mainpic" id="mainpic" src=""/>
                        <div class="textDecor">
                        <h1 class="pageTitle">Tome of Legends</h1>
                        <h1 class="titleShadow">Tome of Legends</h1>
                        </div>
                    </div>
                    <div class="col-md-1 text-center" id="login">
                        <div class="loginButton">Login</div> <!-- {{!Placeholder}} -->
                    </div>
                    <div class = "col-md-1 text-center allDecks">
                      <div class="deckButton">Your Decks</div>
                  </div>
              </div>

                <div class="saveDeck">
                    <a data-fancybox data-src="#deckAlert" href="javascript:;">
                    <div class="saveButton">Export Deck</div>
                    </a>
                </div>

                <div style="display: none;" id="deckAlert">
                    <h id="deckAlertText"></h>
                </div>
            
              <div class = "row">
                    <div class="col-lg-11 text-center search_cards">
                        <form class="searchContainer">
                            <input type="text" class="form-control cardSearch" name="card_search" placeholder="Type the name of a card..." id="search_cards">
                            <!-- <button type="submit" title="Reset Search" class="btn btn-default searchButton" id="all">Clear</button> -->
                            <div title="Reset Search" class="searchButton clearB" id="all">Clear</div>
                            <img class="filterButtons" title="White" id="W" src="/assets/img/W.png">
                            <img class="filterButtons" title="Blue" id="U" src="/assets/img/U.png">
                            <img class="filterButtons" title="Black" id="B" src="/assets/img/B.png">
                            <img class="filterButtons" title="Red" id="R" src="/assets/img/R.png">
                            <img class="filterButtons" title="Green" id="G" src="/assets/img/G.png">
                            <img class="filterButtons" title="Multicolor" id="multicolor" src="/assets/img/M.svg">
                            <img class="filterButtons" title="Colorless" id="colorless" src="/assets/img/C.svg">
                            <img class="filterButtons" title="All Cards" id="all" src="/assets/img/mtg.png">
                        </form>
                    </div>

              </div>
            
              <div class="row middleRow">
                    <div id="scrollArea" class="col-lg-9 clusterize-scroll text-center availableCardsContainer" class="task">
                        <div id="contentArea" class="row clusterize-content cardsHolder">
                          {{#each card_data}}
                            <div class="availableCards colorid{{this.colorString}} {{this.name}}">
                                <div class="floater">
                                    <div class="card addDeck" id="{{this.colorString}}">
						                <img class="lazy cardImg" src="{{this.imageURLNormal}}" title="{{this.name}}" onerror="this.onerror=null;this.src='/assets/img/default.jpg';" data-thumb="{{imageURLArtCrop}}" data-id="{{this.id}}" data-name="{{this.name}}" width="180px" height="251px">
					                </div>
                                </div>
                            </div>
                          {{/each}}
                        </div>
                    </div>
                    <div class="text-center deckContainer">
                        <h4 class="sectionTitle deckTitle">Deck</h4>
                        
                              {{#if deck}}
                                {{#each deck.Cards}}
                                <div class="col-lg-12 text-center deckedCards"> 
                                    <img class="deckThumb" src="{{this.imageURLSmall}}">
                                    <p class="deckList" onmouseover="hovered()" onmouseout="unhovered()">{{this.name}}>
                                    <img class="hoverimage" src="{{this.imageURLNormal}}">    
                                </div>
                                {{/each}}
                            {{/if}}
                      
                    </div>
                </div>
            </div>

            <script src="/js/clusterize.js"></script>
            <script src="/js/index.js" type="text/javascript"></script>