<div class="container">
                <div class="row">
                    <div class="col-md-8 text-center" id="top-bar">
                        <img class="mainpic" id="mainpic" src=""/>
                        <div class="textDecor">
                        <h1 class="pageTitle">Tome of Legends</h1>
                        <h1 class="titleShadow">Tome of Legends</h1>
                        </div>
                    </div>
                    <div class="col-md-1 text-center" id="login">
                        <div class="loginButton">Login</div> <!-- {{!Placeholder}} -->
                    </div>
                    <div class = "col-md-1 text-center allDecks">
                      <div class="deckButton">Your Decks</div>
                  </div>
              </div>
            
              <div class = "row">
                    <div class="col-lg-11 text-center search_cards">
                        <form action="" method="GET">
                            <input type="text" class="form-control cardSearch" name="card_search" placeholder="Type the name of a card..." id="search_cards">
                            <button type="submit" class="btn btn-default searchButton">Search</button>
                        </form>
                    </div>

              </div>
            
              <div class="row">
                    <div class="col-lg-9 text-center availableCardsContainer" class="task">
                        <div class="row">
                          {{#each card_data}}
                            <div class="col-md-9 text-center availableCards">
                                <div class="floater">
                                <div class="card addDeck" data-id="{{this.id}}">
						            <img class="lazy cardImg" data-original="{{this.imageURLNormal}}" width="180px" height="251px"> {{!Will update names, etc. Placeholders for now.}}
					            </div>
                                </div>
                            </div>
                          {{/each}}
                        </div>
                    </div>
                    <div class="text-center deckContainer" class="task">
                        <h4 class="sectionTitle">Deck</h4>
                          {{#each card_data}}
                              {{#if this.decked}}
                                <div class="col-lg-12 text-center deckedCards"> 
                                    <img class="deckThumb" src="{{this.card_thumb}}">
                                    <p class="deckList">{{this.card_name}}>
                                    <img class="hoverimage" src="{{this.card_img}}">    
                                </div>
                                

                            {{/if}}
                          {{/each}}
                            
                    </div>
                </div>
            </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/index.js"></script>