<div class="container">
                <div class="row">
                    <div class="col-md-8 text-center" id="top-bar">
                        <img class="mainpic" id="mainpic" src=""/>
                        <div class="textDecor">
                        <h1 class="pageTitle">Tome of Legends</h1>
                        <h1 class="titleShadow">Tome of Legends</h1>
                        </div>
                    </div>
                    <div class="col-md-1 text-center" id="login">
                        <div class="loginButton">Login</div> <!-- {{!Placeholder}} -->
                    </div>
                    <div class = "col-md-1 text-center allDecks">
                      <div class="deckButton">Your Decks</div>
                  </div>
              </div>
            
              <div class = "row">
                    <div class="col-lg-11 text-center search_cards">
                        <form action="" method="GET">
                            <input type="text" class="form-control cardSearch" name="card_search" placeholder="Type the name of a card..." id="search_cards">
                            <button type="submit" title="Reset Search" class="btn btn-default searchButton">Clear</button>
                            <img class="filterButtons" title="White" id="white" src="W.PNG">
                            <img class="filterButtons" title="Blue" id="blue" src="U.PNG">
                            <img class="filterButtons" title="Black" id="black" src="B.PNG">
                            <img class="filterButtons" title="Red" id="red" src="R.PNG">
                            <img class="filterButtons" title="Green" id="green" src="G.PNG">
                            <img class="filterButtons" title="Multicolor" id="multicolor" src="M.svg">
                            <img class="filterButtons" title="Colorless" id="colorless" src="C.svg">
                            <img class="filterButtons" title="All Cards" id="all" src="mtg.png">
                        </form>
                    </div>

              </div>
            
              <div class="row middleRow">
                    <div class="col-lg-9 text-center availableCardsContainer" class="task">
                        <div class="row">
                          {{#each card_data}}
                            <div class="availableCards addDeck {{this.color}}">
                                <div class="card" data-id="{{this.id}}">
						            <img class="lazy cardImg" data-original="{{this.imageURLNormal}}" width="180px" height="251px"> {{!Will update names, etc. Placeholders for now.}}
					            </div>
                            </div>
                          {{/each}}}
                        </div>
                    </div>
                    <div class="text-center deckContainer" class="task">
                        <h4 class="sectionTitle">Deck</h4>
                          {{#each card_data}}
                              {{#if this.decked}}
                                <div class="col-lg-12 text-center deckedCards"> 
                                    <img class="deckThumb" src="{{this.card_thumb}}">
                                    <p class="deckList" onmouseover="hovered()" onmouseout="unhovered()">{{this.card_name}}>
                                    <img class="hoverimage" src="{{this.card_img}}">    
                                </div>
                                

                            {{/if}}
                          {{/each}}
                            
                    </div>
                </div>
            </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/index.js"></script>